
<html>
  <head>
    <title>Photo Gallery</title>
    <link href="stylesheets/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <h1>Photo Gallery</h1>
    </div>
    <div id="main">
Kevin Skoglund<hr/>User: kskoglund<br />Name: Kevin Skoglund<br /><br />User: kemtin<br />Name: Donald Okwuone<br /><br />User: donald<br />Name: donald donald<br /><br />User: admin<br />Name: admin admin<br /><br />

  <div style="float: left; margin-left: 20px;">
		<a href="photo.php?id=10">
			<img class="img-responsive" src="images/roof.jpg" width="200" />
		</a>
    <p>A nice roof</p>
  </div>
  <div class="clear"></div>
  <div style="float: left; margin-left: 20px;">
		<a href="photo.php?id=11">
			<img class="img-responsive" src="images/buddhas.jpg" width="200" />
		</a>
    <p>Buddhas</p>
  </div>
  <div class="clear"></div>
  <div style="float: left; margin-left: 20px;">
		<a href="photo.php?id=12">
			<img class="img-responsive" src="images/wall.jpg" width="200" />
		</a>
    <p>Wall</p>
  </div>
  <div class="clear"></div>



    </div>
    <div id="footer">Copyright 2016, Donald Okwuone</div>
  </body>
</html>

